<div class="container">
    <h1>List of Students</h1>
     <!-- <input type="button" value="Notify" (click)="onDataReceived()" class="btn btn-warning">  -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td *ngFor="let c of tableColumns">{{c}}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of FilteredStudents">
                <td *ngFor="let c of tableColumns">{{s[c]}}</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>