<div class="container">
    <h1>List of Courses</h1>
     <div class="container">{{message}}</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td *ngFor="let item of tableColumns">{{item}}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of courses" (click)="getSelectedCourse(c)">
                <td *ngFor="let item of tableColumns">{{c[item]}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
     <app-studentchild-component [CourseId]="course.CourseId" (dataRecived)="getNotification($event)"></app-studentchild-component> 
</div>