<div class="container">
<h1>Calculator</h1>
Enter the no. : <input type="text" [(ngModel)]="num1" class="form form-control" style='width:100px' autofocus>
<br>
<br>
<input type="button" (click)="onNumClicked('9')" value='9' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="onNumClicked('8')" value='8' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="onNumClicked('7')" value='7' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="calculate('+')" value='+' class="btn btn-primary">&nbsp;&nbsp;
<input type="button" (click)="calculate('-')" value='-' class="btn btn-primary">&nbsp;&nbsp;
<input type="button" (click)="calculate('*')" value='*' class="btn btn-primary">&nbsp;&nbsp;
<input type="button" (click)="calculate('/')" value='/' class="btn btn-primary">&nbsp;&nbsp;
<input type="button" (click)="calculate('%')" value='%' class="btn btn-primary"><br><br>
<input type="button" (click)="onNumClicked('6')" value='6' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="onNumClicked('5')" value='5' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="onNumClicked('4')" value='4' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="calculate('sq')" value='square' class="btn btn-primary">&nbsp;&nbsp;
<input type="button" (click)="calculate('cu')" value='cube' class="btn btn-primary">&nbsp;&nbsp;
<input type="button" (click)="calculate('sqrt')" value='squareroot' class="btn btn-primary"><br><br>
<input type="button" (click)="onNumClicked('3')" value='3' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="onNumClicked('2')" value='2' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="onNumClicked('1')" value='1' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="calculate('sin')" value='sin' class="btn btn-primary">&nbsp;&nbsp;
<input type="button" (click)="calculate('cos')" value='cos' class="btn btn-primary">&nbsp;&nbsp;
<input type="button" (click)="calculate('tan')" value='tan' class="btn btn-primary">&nbsp;&nbsp;
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" (click)="onNumClicked('0')" value='0' class="btn btn-secondary">&nbsp;&nbsp;
<input type="button" (click)="calculate('=')" value='=' class="btn btn-info">&nbsp;&nbsp;
<input type="button" (click)="calculate('reset')" value='reset' class="btn btn-info">

<br><br>
<b>Answer: <label>{{result}}</label></b>
</div>
