<div class="container">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>
                    <input type="button" value="Get All" (click)="loadData()" class="btn btn-warning" />
                </td>
                <td>
                    <input type="button" value="Post" (click)=" saveData()" class="btn btn-success" />
                </td>
                <td>
                    <input type="button" value="Put" class="btn btn-warning" />
                </td>
                <td>
                    <input type="button" value="Delete" class="btn btn-danger" />
                </td>
            </tr>
        </tbody>
    </table>
</div>